@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



button {
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: darken(currentColor, 10%);
  }
  

  body {
    background-color: #edf2f7; 
  }